/* Navbar */

.navbar {
  justify-content: flex-start;
  font-weight: 400;
  transition: background $action-transition-duration
    $action-transition-timing-function;
  -webkit-transition: background $action-transition-duration
    $action-transition-timing-function;
  -moz-transition: background $action-transition-duration
    $action-transition-timing-function;
  -ms-transition: background $action-transition-duration
    $action-transition-timing-function;
  background-color: $white;

  &.background-color-gray {
    background-color: $content-bg;
  }

  .navbar-brand-wrapper {
    flex: 1;
    background: $white;
    // border-bottom: 1px solid #e3e3e3;
    transition: width $action-transition-duration
        $action-transition-timing-function,
      background $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration
        $action-transition-timing-function,
      background $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration
        $action-transition-timing-function,
      background $action-transition-duration $action-transition-timing-function;
    -ms-transition: width $action-transition-duration
        $action-transition-timing-function,
      background $action-transition-duration $action-transition-timing-function;
    width: $sidebar-width-lg;
    height: $navbar-height;
    // border-right: 1px solid #e3e3e3;

    @include tablet-landscape {
      flex: none;
    }

    .navbar-brand-inner-wrapper {
      margin-left: 30px;

      .navbar-brand {
        color: lighten(color(gray-dark), 20%);
        font-size: 1.5rem;
        margin-right: 0;
        padding: 0.25rem 0;

        &.brand-logo-mini {
          display: none;

          @media (max-width: 1024px) {
            display: inline-block;
            width: 1.875rem;
          }
        }

        &:active,
        &:focus,
        &:hover {
          color: lighten(color(gray-dark), 10%);
        }

        img {
          width: calc(#{$sidebar-width-lg} - 150px);
          max-width: 100%;
          height: 34px;
          margin: auto;
          vertical-align: middle;
        }
      }

      .navbar-toggler {
        border: 0;
        color: #4a4a4a;
        font-size: 1.5rem;
        padding: 0;

        &:not(.navbar-toggler-right) {
          @media (max-width: 1024px) {
            display: none;
          }
        }
      }

      .brand-logo-mini {
        padding-left: 0;
        text-align: center;

        img {
          width: calc(#{$sidebar-width-icon} - 30px);
          max-width: 100%;
          margin: auto;
        }
      }
    }
  }

  .navbar-menu-wrapper {
    background: $navbar-default-bg;
    transition: width $action-transition-duration
      $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration
      $action-transition-timing-function;
    -moz-transition: width $action-transition-duration
      $action-transition-timing-function;
    -ms-transition: width $action-transition-duration
      $action-transition-timing-function;
    color: $navbar-menu-color;
    // width: calc(100% - #{$sidebar-width-lg});
    height: $navbar-height;
    // border-bottom: 1px solid #e3e3e3;
    padding-right: 11px;

    @include tablet-landscape {
      flex: 1;
    }

    .navbar-toggler {
      border: 0;
      color: inherit;
      font-size: 1.5rem;
      padding: 0;

      &:not(.navbar-toggler-right) {
        @media (max-width: 1024px) {
          display: none;
        }
      }

      &.navbar-toggler-right {
        @media (max-width: 1024px) {
          padding-left: 15px;
          padding-right: 11px;
        }
      }
    }

    .navbar-nav {
      @extend .d-flex;
      @extend .flex-row;
      @extend .align-items-center;

      .nav-item {
        margin-right: 17px;

        &:last-child {
          margin-right: 0;
        }

        .nav-link {
          color: inherit;
          font-size: $navbar-font-size;
        }

        &.nav-search {
          margin-left: 0rem;

          .input-group {
            background: #ececec;
            border-radius: 4px;
            padding: 0 0.75rem;

            .form-control,
            .input-group-text {
              background: transparent;
              border: 0;
              color: #000;
              padding: 0;
            }

            .input-group-text {
              i {
                color: #9b9b9b;
              }
            }

            .form-control {
              margin-left: 0.5rem;
              height: 2.5rem;

              @include placeholder {
                color: #9b9b9b;
              }
            }
          }
        }

        &.nav-settings {
          @extend .align-self-stretch;
          @extend .align-items-center;
          margin: 0;
          padding-left: 1.5rem;

          .nav-link {
            padding: 0;
            text-align: center;
          }

          i {
            font-size: 1.5rem;
            vertical-align: middle;
          }
        }

        &.nav-profile {
          @extend .d-flex;
          @extend .align-items-center;
          white-space: nowrap;

          .nav-link {
            position: relative;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            &::after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              width: 10px;
              height: 10px;
              background-color: $green;
              border: 1px solid $alto;
              border-radius: 50%;
              border: 0;
              background-image: none;
            }
          }
        }

        &.nav-lang {
          .nav-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 84px;
            height: 40px;
            padding: 5px;
            border-radius: 50px;
            border: 1px solid $alto;
          }

          .nav-lang-name {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            font-family: $font-family-DBHelvethaicaX-65Med;
          }

          .dropdown-menu {
            top: 55px;
            min-width: auto;
            background: transparent;
          }

          .dropdown-item {
            width: 100%;
            min-width: 84px;
            padding: 10px;
            background: $white;
            border-radius: 8px;
            margin-bottom: 7px;
            color: #4a4a4a;
            border: 1px solid #d8d8d8;

            img {
              margin-right: 0.5rem;
            }
          }
        }

        &.dropdown {
          .dropdown-menu {
            @extend .dropdownAnimation;
            border: none;
          }

          .navbar-dropdown {
            position: absolute;
            font-size: 0.9rem;
            margin-top: -3px;
            right: 0;
            left: auto;
            // top: $navbar-height;

            .rtl & {
              right: auto;
              left: 0;
            }

            .dropdown-item {
              @extend .d-flex;
              @extend .align-items-center;
              cursor: pointer;

              .item-thumbnail {
                img {
                  width: 2.25rem;
                  height: 2.25rem;
                  border-radius: 50%;
                }

                .item-icon {
                  width: 2.25rem;
                  height: 2.25rem;
                  border-radius: 50%;
                  @extend .d-flex;
                  @extend .align-items-center;
                  @extend .justify-content-center;
                  color: $white;

                  i {
                    font-size: 17px;
                  }
                }
              }

              .item-content {
                padding-left: 0.937rem;
              }

              .badge {
                margin-left: 2.5rem;
              }

              .ellipsis {
                max-width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .rtl & {
                i {
                  @extend .mr-0;
                  margin-left: 10px;
                }

                .badge {
                  margin-left: 0;
                  margin-right: 2.5rem;
                }
              }
            }

            .dropdown-divider {
              margin: 0;
            }
          }

          i {
            margin-right: 0.5rem;
            vertical-align: middle;
          }

          .count-indicator {
            position: relative;
            padding: 0;
            text-align: center;

            i {
              font-size: 1.5rem;
              margin-right: 0;
              vertical-align: middle;
            }

            .count {
              position: absolute;
              left: 59%;
              width: 8px;
              height: 8px;
              border-radius: 100%;
              background: theme-color(danger);
              top: 9px;
            }

            &:after {
              display: none;
            }
          }
        }
      }

      &.navbar-nav-right {
        @extend .align-self-stretch;
        @extend .align-items-stretch;

        .nav-item {
          // @extend .d-flex;
          display: flex;
          @extend .align-items-center;

          &.nav-settings {
            @extend .d-none;
            @extend .d-lg-flex;
          }

          &.nav-mode,
          &.nav-lang {
            display: none;

            @include tablet {
              display: flex;
            }
          }
        }

        @media (min-width: 1024px) {
          margin-left: auto;

          .rtl & {
            margin-left: 0;
            margin-right: auto;
          }
        }
      }
    }
  }

  .navbar-toggler-wrapper {
    display: flex;

    @include tablet {
      width: 190px;
    }

    @include tablet-landscape {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    flex-direction: row;
  }

  .navbar-collapse {
    display: flex;
    margin-top: 0.5rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    .navbar-brand-wrapper {
      width: auto;
    }
  }
}

// with out login
.template-page {
  &--with-out-login {
    .navbar-nav {
      flex-direction: row;
      width: 100%;
      justify-content: flex-end;
      padding-right: 15px;

      .dropdown-menu-right {
        position: absolute;
      }
    }

    .nav-item {
      &.nav-mode {
        min-width: 25px;
        img {
          background-color: #ffffff;
          border: 6px solid #ffffff;
          border-radius: 26px;
          margin-top: 11px;
          cursor: pointer;
          width: 32px;
        }
      }

      + .nav-item {
        margin-left: 10px;
      }

      &.nav-lang {
        &.dropdown a {
          background-color: white;
          padding: 0;
          margin-top: 10px;
          border-radius: 25px;
          padding: 5px 9px;
          line-height: 24px;

          img {
            //width: 16px;
            //margin-left: -10px;
            //margin-top: -3px;
            //margin-right: 3px;
          }
        }
      }
    }

    .nav-lang a span.nav-lang-name {
      color: $tundora;
      letter-spacing: 0;
    }

    .nav-lang {
      .dropdown-menu {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      margin-top: -9px;
      min-width: 75px;

      a.dropdown-item {
        background-color: white;
        box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
        margin: 10px 0;
        line-height: 0;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
         border-radius: 6px;
          padding: 5px 9px;
          line-height: 28px;

        a {

        }

        &:hover {
          background-color: white;
        }
      }
    }
    }


  }
}
