<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="navbar-toggler-wrapper">
    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      data-toggle="offcanvas"
    >
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
  <div class="navbar-brand-wrapper d-flex justify-content-center justify-content-lg-start">
    <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center">
      <a
        class="navbar-brand brand-logo"
        href="index.html"
      ><img
          src="images/MBK-logo.svg"
          alt="logo"
        /></a>
    </div>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-mode">
        <img src="images/dark-mode.svg" alt="mode">
      </li>
      <li class="nav-item nav-lang dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          data-toggle="dropdown"
          id="langDropdown"
        >
          <img
            src="images/th-flag.svg"
            alt="flag"
          />
          <span class="nav-lang-name">
            ไทย
          </span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right navbar-dropdown"
          aria-labelledby="langDropdown"
        >
          <a class="dropdown-item">
            ไทย
          </a>
          <a class="dropdown-item">
            English
          </a>
        </div>
      </li>
      <li class="nav-item nav-profile dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          data-toggle="dropdown"
          id="profileDropdown"
          style="background-image: url(images/faces/face5.jpg);"
        ></a>
        <div
          class="dropdown-menu dropdown-menu-right navbar-dropdown"
          aria-labelledby="profileDropdown"
        >
          <a class="dropdown-item">
            ลงชื่อออก
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
