<nav
  class="sidebar sidebar-offcanvas"
  id="sidebar"
>
  <ul class="nav">
    <li class="nav-item">
      <a
        class="nav-link"
        href="index.html"
      >
        <!-- <i class="mdi mdi-home menu-icon"></i> -->
        <i class="icon-dashboard menu-icon"></i>
        <span class="menu-title">แดชบอร์ด</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
      >
        <i class="icon-book menu-icon"></i>
        <span class="menu-title">คู่มืออำนาจ</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
      >
        <i class="icon-group menu-icon"></i>
        <span class="menu-title">ผู้ใช้งาน</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-master"
        aria-expanded="false"
        aria-controls="ui-master"
      >
        <i class="icon-folders menu-icon"></i>
        <span class="menu-title">มาสเตอร์ MBK</span>
        <i class="menu-arrow"></i>
      </a>
      <div
        class="collapse"
        id="ui-master"
      >
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
            >
              <i class="mdi mdi-circle menu-icon"></i>
              <span class="menu-title">ข้อมูลบุคคล</span>
            </a></li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
            >
              <i class="mdi mdi-circle menu-icon"></i>
              <span class="menu-title">ข้อมูลบริษัท</span>
          </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="template.html"
      >
        <i class="icon-files menu-icon"></i>
        <span class="menu-title">เทมเพลต</span>
        <i class="menu-arrow"></i>
      </a>
      <div
        class="collapse"
        id="ui-template"
      >
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a
              class="nav-link"
              href="template-group.html"
            >
              <i class="mdi mdi-circle menu-icon"></i>
              <span class="menu-title">หมวด</span>
            </a></li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
            >
              <i class="mdi mdi-circle menu-icon"></i>
              <span class="menu-title">หลักเกณฑ์</span>
          </a></li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
            >
              <i class="mdi mdi-circle menu-icon"></i>
              <span class="menu-title">หมายเหตุ</span>
          </a></li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
            >
              <i class="mdi mdi-circle menu-icon"></i>
              <span class="menu-title">คณะกรรมการ</span>
          </a></li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
            >
              <i class="mdi mdi-circle menu-icon"></i>
              <span class="menu-title">โครงสร้างหัวตาราง</span>
          </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-report"
        aria-expanded="false"
        aria-controls="ui-report"
      >
        <i class="icon-pie-chart menu-icon"></i>
        <span class="menu-title">รายงาน</span>
        <i class="menu-arrow"></i>
      </a>
      <div
        class="collapse"
        id="ui-report"
      >
        <!-- <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a
              class="nav-link"
              href="#"
            >Buttons</a></li>
          <li class="nav-item"> <a
              class="nav-link"
              href="#"
            >Typography</a></li>
        </ul> -->
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-notification"
        aria-expanded="false"
        aria-controls="ui-notification"
      >
        <i class="icon-megaphone menu-icon"></i>
        <span class="menu-title">การแจ้งเตือน</span>
        <i class="menu-arrow"></i>
      </a>
      <div
        class="collapse"
        id="ui-notification"
      >
        <!-- <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a
              class="nav-link"
              href="#"
            >Buttons</a></li>
          <li class="nav-item"> <a
              class="nav-link"
              href="#"
            >Typography</a></li>
        </ul> -->
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-setting"
        aria-expanded="false"
        aria-controls="ui-setting"
      >
        <i class="icon-setting-tool menu-icon"></i>
        <span class="menu-title">การตั้งค่า</span>
        <i class="menu-arrow"></i>
      </a>
      <div
        class="collapse"
        id="ui-setting"
      >
        <!-- <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a
              class="nav-link"
              href="#"
            >Buttons</a></li>
          <li class="nav-item"> <a
              class="nav-link"
              href="#"
            >Typography</a></li>
        </ul> -->
      </div>
    </li>
  </ul>
</nav>
