<div class="sidebar-list sidebar-list-offcanvas">
  <div class="sidebar-toggle" data-toggle="offcanvas-list">
    <i class="icon-right-arrow"></i>
    <span>ผู้ใช้งานออนไลน์</span>
  </div>
  <ul class="user">
    <li class="user-item">
      <div
        class="user-pic"
        style="background-image: url(images/faces/face1.jpg);"
      ></div>
      <span>ชื่อผู้ใช้งานออนไลน์</span>
    </li>
    <li class="user-item">
      <div
        class="user-pic"
        style="background-image: url(images/faces/face2.jpg);"
      ></div>
      <span>ชื่อผู้ใช้งานออนไลน์</span>
    </li>
    <li class="user-item">
      <div
        class="user-pic"
        style="background-image: url(images/faces/face3.jpg);"
      ></div>
      <span>ชื่อผู้ใช้งานออนไลน์</span>
    </li>
    <li class="user-item">
      <div
        class="user-pic"
        style="background-image: url(images/faces/face4.jpg);"
      ></div>
      <span>ชื่อผู้ใช้งานออนไลน์</span>
    </li>
    <li class="user-item">
      <div
        class="user-pic"
        style="background-image: url(images/faces/face5.jpg);"
      ></div>
      <span>ชื่อผู้ใช้งานออนไลน์</span>
    </li>
    <li class="user-item">
      <div
        class="user-pic"
        style="background-image: url(images/faces/face6.jpg);"
      ></div>
      <span>ชื่อผู้ใช้งานออนไลน์</span>
    </li>
    <li class="user-item">
      <div
        class="user-pic"
        style="background-image: url(images/faces/face7.jpg);"
      ></div>
      <span>ชื่อผู้ใช้งานออนไลน์</span>
    </li>
  </ul>
</div>
