.page-header {
  margin-bottom: 12px;

  .btn {
    display: flex;
    align-items: center;
    padding: 6px 12px;

    + .btn {
      margin-left: 20px;
    }
  }
}

.helper-wrapper {
  padding: 30px;
  background: rgba(241, 241, 241, 0.4);
  //border: 1px solid #979797;
  border-radius: 2px;
}

.full-width {
  width: 100%;
}

.link-more {
	display: inline-block;
	width: 30px;
	height: 12px;

	&::after{
		content: "";
		display: inline-block;
		width: 30px;
		height: 12px;
		background-image: url(../images/Icons/more.svg);
		background-size: contain;
	}
}

.status-wrapper {
  display: flex;
  align-items: center;

  &.red {
    color: #FF5757;

    &::before {
      background-color: #FF5757;
    }
  }

  &.green {
    color: #0EDD4D;

    &::before {
      background-color: #0EDD4D;
    }
  }

  &.sky {
    color: #24CCB8;

    &::before {
      background-color: #24CCB8;
    }
  }

  &.orange {
    color: #FF6434;

    &::before {
      background-color: #FF6434;
    }
  }

  &.blue {
    color: #4880FF;

    &::before {
      background-color: #4880FF;
    }
  }

  &.yellow {
    color: #FFC400;

    &::before {
      background-color: #FFC400;
    }
  }

  &::before {
    content: '';
    margin-right: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
