.book-menu-switch {
  display: flex;
  justify-content: flex-end;

  .btn {
    font-size: 15px;
    border-radius: 2px 0 0 2px;

    &:first-child {
      border-right-width: 0;
    }

    &:last-child {
      border-left-width: 0;
    }

    &.active:not(.disabled) {
      background-color: $white;
      border-color: #E8E8E8;
      font-family: DBHelvethaicaX-Reg;
      color: #4A4A4A;
    }

    &:not(.active) {
      background-color: transparent;
      background: #E6E6E6;
      border: 1px solid #E8E8E8;
    }

    i {
      margin-right: 5px;
    }
  }
}

.book-button-list {
  margin: 0 -5px;

  .btn {
    margin: 5px;
    font-family: DBHelvethaicaX-Reg;
    font-size: 20px;
    border-width: 1px;
  }
}

.book-short-view {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;

  @include tablet {
    margin: 0 -30px;
  }

  &__item {
    margin: 10px;
    position: relative;
    font-size: 20px;
    line-height: 16px;

    @include tablet {
      margin: 20px 30px;
      padding-right: 24px;
      font-size: 18px;
    }
  }

  &__more-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__more {
    width: 12px;
    height: 30px;
    background-image: url(../images/Icons/more-action.svg);
    background-size: contain;
    background-repeat: no-repeat;

    .show & {
      background-image: url(../images/Icons/more-action-active.svg);
    }
  }

  &__book {
    position: relative;
    margin-bottom: 10px;
    padding: 16px 35px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0 10px 20px 0 rgba(227,227,227,0.50);
    border-radius: 3px;
    opacity: 0.8;

    @include tablet {
      padding: 20px 17px;
    }

    .icon-forbidden {
      position: absolute;
      top: 6px;
      left: 6px;
      font-size: 16px;
    }

    .is-dark-mode & {
      opacity: 1;
    }
  }

  &__view,
  &__download,
  &__comment {
    margin-right: 5px;
    margin-bottom: 16px;
    display: block;
    width: 55px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(185, 185, 185, 0.5);
    border-radius: 6px;

    .is-dark-mode & {
      background-color: #647480;
      border: 1px solid #647480;
      box-sizing: border-box;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
    }
  }

  &__view {
    background-image: url(../images/view.svg);
  }

  &__download {
    background-image: url(../images/download.svg);
  }

  &__comment {
    margin-right: 0;
    background-image: url(../images/comment.svg);
  }

  .status-wrapper {
    padding-top: 6px;
  }
}

.template-copy-list__item {
  position: relative;
}

.template-copy-list__action {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 2;

  .btn {
    padding: 0;
  }

  img {
    width: 26px;
  }
}

.template-copy-list--header {
  .form-check-input:not(:checked) + .span-radio + .checkbox-text {
    i {
      color: #D2D2D2;
    }
  }
}

.book-remark {
  position: relative;
  padding: 6px 10px;
  background-color: transparent;
  border: 1px solid #8DC63F;
  border-radius: 2px;
  font-family: DBHelvethaicaX-Reg;
  font-size: 16px;
  color: #8DC63F;
  text-decoration: underline;

  + .book-remark {
    margin-top: 5px;
  }

  img {
    position: absolute;
    right: 10px;
    top: 14px;
    cursor: pointer;
  }
}

.dropdown-remark {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;

  .dropdown-item {
    cursor: pointer;
  }
}

.table.table--book-authority {
  th,
  td {
    vertical-align: middle;

    &:not(:nth-child(1)):not(:nth-child(2)) {
      width: 80px;
      text-align: center;
    }
  }

  td {
    &:first-child {
      text-align: left;
    }
  }
}

.accordion {
  &--content {
    li {
        color: #64666D;
        font-size: 20px;
    }
  }
}

.js-director-in,
.js-director-out {
  display: none;

  &.active {
    display: inline;
  }
}

.is-dark-mode {
  .book-menu-switch .btn {
    &.active:not(.disabled) {
      background: #647480;
      border-color: #647480;
      color: $white;
    }

    &:not(.active) {
      background: #374148;
      border-color: #374148;
    }
  }

  .book-short-view__book {
    background: #374148;
    border: 1px solid #263138;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

    @include tablet {
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.50);
    }
  }

  .book-short-view__more {
    background-image: url(../images/Icons/more-action-dark.svg);
  }

  .show .book-short-view__more {
    background-image: url(../images/Icons/more-action-active-dark.svg);
  }

  .dropdown-more--book .dropdown-item {
    background: #647480;
    border: 1px solid #647480;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.50);
    color: #FFFFFF;
  }
}

.card-body--book {
  padding: 22px 20px;

  @include tablet {
    padding: 27px 50px;
  }
}

.active {
  .card-body--book {
    margin: 0 -1.5rem;
    padding: 0 16px;

    @include tablet {
      margin: 0;
      padding: 27px 50px;
    }
  }
}

.book-program-view {
  overflow: scroll;

  @include desktop {
    overflow: inherit;
  }
}
