.container--login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 64px;
}

.logo-login {
  width: 155px;
  height: 78px;
  background-image: url(../images/MBK-logo.svg);
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: 767px) {
    width: 222px;
    height: 122px;
  }

  .is-dark-mode & {
    background-image: url(../images/MBK-logo-white.svg);
  }
}

.container--form {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90%;
  margin-top: 45px;
  border-radius: 3px;

  @media (min-width: 767px) {
    margin-top: 90px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  @media (min-width: 767px) {
    min-width: 510px;
  }

  span.title {
    font-family: DBHelvethaicaX-65Med;
    font-size: 26px;
    color: #323232;
    letter-spacing: 2.17px;
    text-align: left;
    margin-top: 41px;
    margin-bottom: 31px;
  }

  input {
    background: #f2f2f2;
    //border: 1px solid #E8E8E8;
    border-radius: 3px;
    font-family: Helvetica;
    font-size: 16px;
    color: #787e8c;
    letter-spacing: 0;
    text-align: left;
    box-shadow: none;
    padding: 0;
    padding-left: 15px;

    &::placeholder {
      font-size: 12px;
      text-align: left;
    }
  }

  .mr-2 {
    padding: 15px;
  }

  .auth-form-btn+btn-lg {
    height: 40px;
  }

  .full-width {
    a {
      width: 100%;
      text-align: center;
      text-decoration: underline;
      color: #8dc63f;
      display: block;
    }
  }
}

.is-dark-mode {
  .container--form {
    background-color: #374148;

    span.title {
      color: $white;
    }
  }
}
