.table-template {
  width: 100%;

  thead {
    th {
      background: #F5F5F5;
      font-weight: normal;
      color: #323232;

      &:last-child {
        text-align: center;
      }
    }
  }

  tbody {
    tr:nth-child(even) {
      background: #F5F5F5;
    }

    td {
      font-family: $font-family-DBHelvethaicaX-Reg;
    }
  }

  th,
  td {
    padding: 12px;
    border: 1px solid #DDDDDD;
  }

  @for $i from 1 through 10 {
    .child-#{$i} {
      td:first-child {
        padding-left: calc(46px * #{$i});
      }
    }
  }

  select.form-control {
    color: #323232;
  }

  &--view {
    thead {
      th {
        &:last-child {
          text-align: left;
        }
      }
    }
  }
}

.template-create-action {
  padding-top: 20px;

  .btn {
    min-width: 120px;
    max-width: 120px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 24px;

    + .btn {
      margin-left: 30px;
    }
  }
}

.template-copy-radio {
  margin-bottom: 12px;

  .form-check-label {
    + .form-check-label {
      margin-left: 62px;
    }
  }
}

.template-copy-list {
  border-radius: 10px;
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  overflow: hidden;

  &__item {
    padding: 11px;
    background-color: $white;

    &:not(:last-child) {
      border-bottom: 1px solid #DDDDDD;
    }

    &--title {
      background-color: #F5F5F5;
      font-size: 22px;

      .form-check-label {
        font-family: $font-family-DBHelvethaicaX-65Med;
      }
    }
  }
}
