.accordion {
  .card {
    margin-bottom: 10px;
    border: 0;
    font-family: DBHelvethaicaX-Reg;
    font-size: 22px;
    overflow: visible;
  }

  .card .card-header {
    padding: 0;
  }

  .card .btn-link {
    position: relative;
    margin-bottom: 0;
    padding: 7px 10px;
    width: 100%;
    border: 0;
    border: 1px solid #8BC34A;
    border-radius: 4px;
    opacity: 0.9;
    color: #323232;
    text-align: left;
    background-color: $white;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      right: 14px;
      width: 16px;
      height: 15px;
      background-image: url(../images/Icons/less.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &.collapsed {
      border-color: #D1D1D1;
      background: #F5F5F5;

      &::after {
        transform: rotate(180deg);
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  .card-body {
    padding: 14px;
    padding-bottom: 0;
  }

  .card-body p {
    font-size: 20px;
    color: #64666D;
  }

  // .form-check-label {
  //   width: 100%;
  // }

  .list,
  .list ul {
    list-style: none;
  }
}

.accordion--material {
  .card .btn-link {
    background-color: #8BC34A;
    border-color: #8BC34A;
    color: $white;

    &::after {
      background-image: url(../images/Icons/less-white.svg);
      transform: rotate(0deg);
    }

    &.collapsed {
      background-color: $white;
      color: #323232;

      &::after {
        background-image: url(../images/Icons/less.svg);
        transform: rotate(0deg);
      }
    }
  }
}

.accordion--checkbox {
  .card .btn-link {
    background: #F5F5F5;
    border: 1px solid #D1D1D1;

    &.active {
      border-color: #8BC34A;
      background-color: $white;
    }
  }
}

.is-dark-mode {
  .accordion .card .btn-link {
    background: #5C666E;
    color: #FFFFFF;
    border-color: #8BC34A;
    box-shadow: 0 0 2px 0 #8BC34A;

    &.collapsed {
      border-color: #26292F;
      box-shadow: 0 0 2px 0 #26292F;
    }
  }

  .accordion--checkbox .card .btn-link {
    border-color: #26292F;
    box-shadow: 0 0 2px 0 #26292F;
    color: #FFFFFF;

    &.active {
      background: #5C666E;
      border-color: #8BC34A;
      box-shadow: 0 0 2px 0 #8BC34A;
    }
  }

  .accordion--material {
    .card .btn-link {
      background-color: #8BC34A;
      border-color: #8BC34A;

      &.collapsed {
        background-color: #5C666E;
        border-color: #8BC34A;
      }
    }
  }

  .accordion .card-body p {
    color: $white;
  }
}
