/* Buttons */

.btn {
  padding: 6px 10px;
  font-size: 24px;
  line-height: 1;

  i {
    font-size: 10px;
    font-weight: bold;
  }

  &.btn-rounded {
    @include border-radius(50px);
  }

  &.btn-sm {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 18px;
  }

  &.btn-lg {
    font-size: $btn-font-size-lg;
  }

  &.btn-xs {
    padding: $btn-padding-y-xs $btn-padding-x-xs;
    font-size: $btn-font-size-xs;
  }

  /* Buttons with only icons */
  &.btn-icon {
    width: 40px;
    height: 40px;
    padding: 0;
  }

  /* Buttons with icon and text */
  &.btn-icon-text {
    .btn-icon-prepend {
      margin-right: .5rem;
    }

    .btn-icon-append {
      margin-left: .5rem;
    }
  }

  &.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0;
  }

  &#search {
    min-width: 120px;
  }
}

.btn-success {
  color: $white;
}

.btn-warning {
  background: #FF9600;
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn-danger {
  background: #CB0A08;
  border-color: #CB0A08;
}

.btn-outline-secondary {
  background: $white;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  color: #4A4A4A;

  &:hover {
    background: $white;
    border-color: #E6E6E6;
    color: #4A4A4A;
  }

  .is-dark-mode & {
    background: #647480;
    border-color:  #647480;
    box-shadow: none;
    color: #FFFFFF;
  }
}

.btn-outline-success {
  border-width: 2px;

  &:hover {
    background: $white;
    border-color: #71c016;
    color: #71c016;
  }
}

.btn-create {
  display: flex;
  align-items: center;
  padding: 4px 0 4px 15px;
  font-size: 17px;
  min-width: 112px;
  // max-width: 112px;
  width: 100%;

  i {
    margin-right: 5px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    font-size: 12px;
  }

  .is-dark-mode & {
    i {
      background: #4F5B63;
      border-color: #4F5B63;
    }
  }
}

.btn-group {
  .btn {
    +.btn {
      border-left: 0;
    }
  }
}

.btn-toolbar {
  .btn-group {
    +.btn-group {
      @extend .ml-2;
    }
  }
}

/*social buttons*/
@each $color,
$value in $social-colors {
  .btn-#{$color} {
    @include social-button(social-color($color));
  }

  .btn-outline-#{$color} {
    @include social-outline-button(social-color($color));
  }
}

/* inverse buttons */
@each $color,
$value in $theme-colors {
  .btn-inverse-#{$color} {
    @include button-inverse-variant($value);
  }

  .btn-#{$color} {

    &,
    &:hover {
      box-shadow: 0 2px 2px 0 rgba(theme-color($color), .14),
        0 3px 1px -2px rgba(theme-color($color), .2),
        0 1px 5px 0 rgba(theme-color($color), .12)
    }
  }
}

.input-group-append {
  margin-right: 15px;

  button {
    border-radius: 3px !important;
  }
}

.btn-icon-show {
  padding: 0;
  background-image: url(../images/Icons/show-disabled.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 32px;
  height: 26px;
  transition: all 0.25s ease-in;

  &.active {
    background-image: url(../images/Icons/show.svg);
  }
}

.btn-icon-hide {
  padding: 0;
  background-image: url(../images/Icons/hide-disabled.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 32px;
  height: 26px;
  transition: all 0.25s ease-in;

  &.active {
    background-image: url(../images/Icons/hide.svg);
  }
}

.btn-nav-mode {
  padding: 0;
  background-image: url(../images/dark-mode.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
  transition: all 0.25s ease-in;

  .is-dark-mode & {
    background-image: url(../images/light-mode.svg);
  }
}
