/* Dropdowns */

.dropdown {
  .dropdown-toggle {
    &:after {
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
      content: "";
      width: auto;
      height: auto;
      vertical-align: middle;
      line-height: .625rem;
      margin-left: 0;
      background-image: url(../images/arrow-drop-down.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 5px;
      height: 10px;
      transition: transform $action-transition-duration $action-transition-timing-function;
    }
  }

  .dropdown-menu {
    margin-top: .75rem;
    font-size: $default-font-size;
    box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
    border-radius: 0;
    min-width: 105px;
    min-height: 20px;
    border-radius: 10px;

    .dropdown-item {
      font-size: 18px;
      padding: 0 26px;
      color: black;
      line-height: 18px;
      font-family: $font-family-DBHelvethaicaX-65Med;

      &:active,
      &:hover {
        background: initial;
      }

      a {
        color: black;
      }

      .exit {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  &.show {
    .dropdown-toggle {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
}

.dropdown-more {
  position: relative;

  .dropdown-item {
    padding: 10px 17px;
    font-size: 20px;

    &:hover {
      background-color: transparent;
    }

    i {
      margin-right: 12px;
      display: inline-block;
      min-width: 16px;
      font-size: 10px;
    }
  }

  &--book {
    .dropdown-menu {
      min-width: 62px;
      max-width: 63px;
      padding: 0;
      background-color: transparent;
    }

    .dropdown-item {
      margin-bottom: 2px;
      width: 100%;
      padding: 5px;
      background-color: #FFFFFF;
      border: 1px solid #F2F2F2;
      box-shadow: 0 8px 10px 0 rgba(185,185,185,0.50);
      border-radius: 2px;
      font-size: 15px;
      text-align: center;
      font-family: $font-family-DBHelvethaicaX-Reg;

      &:hover {
        background-color: #FFFFFF;
      }
    }
  }
}

.dropdown-select {
  position: relative;

  .dropdown-menu {
    padding: 10px 15px;
    width: 198px;
  }

  .dropdown-item {
    padding: 10px;
    border-bottom: 1px solid #D8D8D8;
    font-family: DBHelvethaicaX-Reg;
    font-size: 16px;
    color: #64666D;
    word-wrap: break-word;
    white-space: normal;

    &:hover {
      background-color: transparent;
    }
  }
}


.is-dark-mode {
  .dropdown {
    .dropdown-toggle {
      &:after {
        transform: rotate(180deg);
      }
    }

    &.show {
      .dropdown-toggle {
        &:after {
          transform: rotate(0);
        }
      }
    }
  }
}