/* Dropdowns */

.dropdown {
  .dropdown-toggle {
    &:after {
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
      // font: normal normal normal 24px/1 "Material Design Icons";
      content: "";
      width: auto;
      height: auto;
      vertical-align: middle;
      line-height: .625rem;
      margin-left: 0;
      background-image: url(../../images/arrow-drop-down.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 5px;
      height: 10px;
    }
  }

  .dropdown-menu {
    margin-top: .75rem;
    font-size: $default-font-size;
    box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
    border-radius: 0;
    min-width: 105px;
    min-height: 20px;
    border-radius: 10px;

    .dropdown-item {
      font-size: 18px;
      //padding: .25rem 1.5rem;
      padding: 0 26px;
      color: black;
      line-height: 18px;
      font-family: $font-family-DBHelvethaicaX-65Med;

      &:active {
        background: initial;
      }

      a {
        color: black;
      }
    }
  }
}
