.pell-content {
  position: relative;
  z-index: 5;
  //height: 40px;
}

.editor {
  //width: 40rem;
  //min-height: 18rem;
  // box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: $white;

  .toolbar {
    display: flex;
    align-items: center;

    .line {
      display: flex;
    }

    button.alpha-editor {
      background-color: transparent;
      color: $dove-gray;
      border: none;
      padding-left: 10px;
      padding-right: 10px;
      font-family: "Helvetica";
      font-weight: bold;
      height: 32px;

      &.active {
        background: rgba(141, 198, 63, 0.1);
        border: 1px solid $sushi;
        box-shadow: 0 0 4px 0 rgba(157, 189, 120, 0.6);
        border-radius: 4px;
        padding-left: 10px;
        padding-right: 10px;
        color: $sushi;
      }

      &.italic {
        font-style: italic;
        padding-right: 15px;
        padding-left: 12px;
      }

      &.underline {
        text-decoration: underline;
      }

      +button.alpha-editor {
        margin-left: 16px;
      }
    }
  }

  .select-type {
    .form-check-label {
      +.form-check-label {
        margin-left: 12px;
      }
    }
  }

  .content-area {
    padding: 15px 12px;
    line-height: 1.5;
    z-index: 99;

    .image-field {
      display: none;

      &.show {
        display: block;
      }

      &.hide {
        display: none;
      }
    }

    .visuell-view {
      outline: none;
      background: #ffffff;
      border: 1px solid #cecece;
      box-shadow: inset 0px 0px 2px 0 rgba(118, 118, 118, 0.5);
      border-radius: 4px;
      font-family: DBHelvethaicaX-Reg;
      font-size: 22px;
      color: #47505a;
      padding-left: 15px;
      min-height: 35px;

      &:focus {
        border-color: #8DC63F;
      }

      &.width-large {
        width: 50%;
      }

      &.width-small {
        width: 8%;
        margin-right: 15px;
      }

      &.show {
        display: block;
      }

      &.hide {
        display: none;
      }

      p {
        margin: 12px 0;
      }
    }

    .html-view {
      outline: none;
      display: none;
      width: 100%;
      height: 200px;
      border: none;
      resize: none;
    }
  }
}

.toolbar-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  &__item {
    text-decoration: underline;
    font-size: 22px;

    &--add {
      display: flex;
      align-items: center;

      &::after {
        content: "";
        display: inline-block;
        margin: 0 12px;
        height: 36px;
        width: 1px;
        background-color: #141414;
      }
    }

    &--delete {
      color: #df0000;
    }

    &--sort {
      padding-left: 20px;
      cursor: pointer;
      position:relative;

      img.icon-arrow-sort {
        position: absolute;
        width: 8px;

        &--left {
            left: 7px;
          top: -8px;
        }

        &--right {
          right: 0;
        }
      }
    }
  }
}

.container-content-area {
  display: flex;
}

.width-50 {
  width: 42%;
  display: flex;
  padding-left: 20px;

  &:before {
    content: "";
    display: inline-block;
    margin: 0 12px;
    height: 36px;
    width: 1px;
    background-color: #141414;
  }

  .padding-left--15 {
    margin-left: 15px;
    width: 30%;

    &:disabled {
      opacity: 0.6;
    }

    &::placeholder {
      font-size: 20px;
      padding-left: 8px;
    }
  }

  .form-check-label {
    margin-top: 5px;
  }
}
