/* Forms */

.form-group {
  margin-bottom: 1.5rem;
}

.input-group-append,
.input-group-prepend {
  color: $input-placeholder-color;
  width: auto;
  border: none;

  .input-group-text {
    border-color: $border-color;
    padding: $input-padding-y .75rem;
    color: $input-placeholder-color;
  }
}

.form-control {
  height: 36px;
  font-weight: 400;
  font-size: $input-font-size;
  color: #9C9C9C;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    border-color: #8DC63F;
  }
}

input {
  &.form-control {
    background: #FFFFFF;
    box-shadow: inset 0 0 2px 0 rgba(118,118,118,0.50);
    border-radius: 3px;
    font-family: DBHelvethaicaX-Reg;
    font-size: 20px;
    color: #787E8C;
  }
}

select {
  &.form-control {
    padding: 9px 10px;
    border: 0;
    color: $input-placeholder-color;
    box-shadow: 0 0 3px 0 rgba(156, 156, 156, 0.50);
    background-image: url(../images/Icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;

    &:focus {
      box-shadow: 0 0 3px 0 rgba(156, 156, 156, 0.50);
      outline: none;
    }

    @each $color,
    $value in $theme-colors {
      &.border-#{$color} {
        outline: 1px solid $value;

        &:focus {
          outline: 1px solid $value;
        }
      }
    }
  }
}

textarea {
  font-family: $font-family-DBHelvethaicaX-Reg;
}

// radio
.form-check-label {
  padding-left: 24px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 22px;
  font-family: $font-family-DBHelvethaicaX-Reg;
  color: #323232;
  line-height: 1;
}

.form-check-input {
  opacity: 0;

  + span.span-radio {
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/Icons/uncheck.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all $action-transition-duration $action-transition-timing-function;
  }

  + span.span-checkbox {
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    //background-image: url(../images/Icons/uncheck.svg);
    border: 1px solid #ECECEC;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all $action-transition-duration $action-transition-timing-function;
  }



  &:checked {
    + span.span-radio {
      background-image: url(../images/Icons/checked.svg);
    }

     + span.span-checkbox {
       border: none;
      background-image: url(../images/Icons/checked-checkbox.svg);
    }
  }
}

.form-group {
  label {
    font-size: $default-font-size;
    line-height: 1.4rem;
    vertical-align: top;
    margin-bottom: .5rem;
  }

  &.has-danger {
    .form-control {
      border-color: theme-color(danger);
    }
  }

  .file-upload-default {
    visibility: hidden;
    position: absolute;
  }

  .file-upload-info {
    background: transparent;
  }
}

input.form-control.file-upload-info {
  &:disabled {
    background-color: #E4E4E4;

     color: $black;

    &::placeholder {
      color: $black;
    }
  }
}

.search-wrapper {
  position: relative;

  i {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 12px;
    color: #787E8C;
  }

  input {
    padding-left: 34px;
  }
}
