/* Forms */

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  height: 36px;
  font-weight: 400;
  font-size: $input-font-size;
  color: #9C9C9C;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    border-color: #8DC63F;
  }
}

input,
.input-with-item,
.multiple-select {
  &.form-control {
    background: #FFFFFF;
    box-shadow: inset 0 0 2px 0 rgba(118,118,118,0.50);
    border-radius: 3px;
    font-family: DBHelvethaicaX-Reg;
    font-size: 20px;
    color: #787E8C;
  }
}

input {
  &.form-control.file-upload-info {
    &:disabled {
      background-color: #E4E4E4;

       color: $black;

      &::placeholder {
        color: $black;
      }
    }
  }
}

select {
  &.form-control {
    padding: 9px 10px;
    border: 0;
    color: $input-placeholder-color;
    box-shadow: 0 0 3px 0 rgba(156, 156, 156, 0.50);
    background-image: url(../images/Icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;

    &:focus {
      box-shadow: 0 0 3px 0 rgba(156, 156, 156, 0.50);
      outline: none;
    }

    @each $color,
    $value in $theme-colors {
      &.border-#{$color} {
        outline: 1px solid $value;

        &:focus {
          outline: 1px solid $value;
        }
      }
    }
  }
}

textarea {
  font-family: $font-family-DBHelvethaicaX-Reg;
}

.input-with-item,
.multiple-select {
  &.form-control {
    padding: 3px 12px 0 3px;
    height: auto;
    min-height: 36px;
    line-height: 0;
  }
}

.input-with-item {
  &.form-control {
    padding-top: 5px;
  }
}

.multiple-select {
  &:after {
    content: '';
    position: absolute;
    right: 12px;
    top: 14px;
    width: 18px;
    height: 10px;
    background-image: url(../images/Icons/arrow-down.svg);
    background-repeat: no-repeat;
    transition: transform .1s ease;
  }

  .ms-active & {
    &:after {
      top: 10px;
      transform: rotate(180deg);
    }
  }
}

.ms-options-item {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 3px;
  display: inline-block;
  height: 24px;
  padding: 0 5px;
  border: 1px solid #4880FF;
  border-radius: 3px;
  font-family: DBHelvethaicaX-Reg;
  font-size: 18px;
  color: #4880FF;
  line-height: 24px;
}

.ms-options {
  .form-check-label {
    width: 100%;
  }

  .form-check-label {
    margin-left: 10px;
  }
}

// radio or checkbox
.form-check-label {
  padding-left: 24px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 22px;
  font-family: $font-family-DBHelvethaicaX-Reg;
  color: #323232;
  line-height: 1;
}

.form-check-input {
  opacity: 0;

  + span.span-radio {
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/Icons/uncheck.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all $action-transition-duration $action-transition-timing-function;

    .form-check-label--checkbox & {
      width: 20px;
      height: 20px;
      background-image: url(../images/Icons/checkbox-enable.svg);
    }
  }

  + span.span-checkbox {
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    //background-image: url(../images/Icons/uncheck.svg);
    border: 1px solid #ECECEC;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all $action-transition-duration $action-transition-timing-function;
  }

  &:checked {
    + span.span-radio {
      background-image: url(../images/Icons/checked.svg);
    }

     + span.span-checkbox {
       border: none;
      background-image: url(../images/Icons/checked-checkbox.svg);
    }
  }

  .form-check-label--checkbox & {
    &:checked {
      + span.span-radio {
        background-image: url(../images/Icons/checkbox-enable-checked.svg);
      }
    }
  }
}

.form-group {
  label {
    font-size: $default-font-size;
    line-height: 1.4rem;
    vertical-align: top;
    margin-bottom: .5rem;
  }

  &.has-danger {
    .form-control {
      border-color: theme-color(danger);
    }
  }

  .file-upload-default {
    visibility: hidden;
    position: absolute;
  }

  .file-upload-info {
    background: transparent;
  }
}

.form-label {
  margin-bottom: 5px;
}

.search-wrapper {
  position: relative;

  i {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 12px;
    color: #787E8C;
  }

  input {
    padding-left: 34px;
  }
}

.search-form,
.search-result {
  .row {
    margin-bottom: 12px;
  }
}

.search-form {
  .search-filter-wrapper {
    margin-top: 20px;

    span {
      color: #8DC63F;
    }
  }
}

.search-result {
  margin-top: 28px;
}
